<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= username %>'s Wishlist</title>
</head>

<body>
    <%- include('../../partials/_navbar') %>
    <h1>
        <% if (displayName) { %>
        <%= displayName %>'s Wishlist (<%= username %>)
        <% } else { %>
        <%= username %>'s Wishlist
        <% }; %>
    </h1>
    <% if (userId === user._id) { %>
    <a href="/users/<%= userId %>/wishlist/new">Wishlist a Game</a>
    <% }; %>
</body>

</html>