<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Search Results for "<%= search %>"</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <div class="search-results-body">
        <div class="search-results-header">
            <h1>Search Results for "<%= search %>"</h1>
            <p>Not finding the game you're looking for? <a id="back" href="/games/search">Go back</a> and try searching
                again.</p>
        </div>
        <ul>
            <% games.forEach(game => { %>
            <a href="/users/<%= user._id %>/games/new?game=<%= game.id %>">
                <li><%= game.name %></li>
            </a> <a href="<%= game.url %>" target="_blank" rel="noopener noreferrer">IGDB</a>
            <% }); %>
        </ul>
    </div>
</body>

</html>