<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= game.name %></title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1><%= game.name %></h1>
    <a href="<%= game.url %>" target="_blank" rel="noopener noreferrer">IGDB</a>
    <p><%= game.summary %></p>

    <!-- users who don't have a game are currently erroring out -->
    <% if (user) { %>
    <p>Completion status: <%= userGameData.gameComplete %></p>
    <p>Achievement completion status: <%= userGameData.achievementsComplete %></p>
    <p>Notes: <%= userGameData.notes %></p>

    <a href="#">Edit this game</a>
    <form action="" method="post">
        <button type="submit">Delete this game</button>
    </form>
    <% }; %>
</body>

</html>