<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= game.name %></title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <div class="game-body">
        <div class="game-header">
            <h1><%= game.name %></h1>
            <a class="igdb" href="<%= game.url %>" target="_blank" rel="noopener noreferrer">IGDB</a>
            <p><%= game.summary %></p>
        </div>

        <% if (user) { %>
        <% if (userGameData) { %>
        <% if (userGameData.platform) { %>
        <p>Platform: <%= userGameData.platform %> </p>
        <% }; %>
        <% if (userGameData.gameComplete || userGameData.gameComplete === false) { %>
        <p>Completion:
            <% if (userGameData.gameComplete) { %>
            Complete
            <% } else { %>
            Incomplete
            <% }; %>
        </p>
        <% }; %>
        <% if (userGameData.achievementsComplete || userGameData.achievementsComplete === false) { %>
        <p>Achievement completion:
            <% if (userGameData.achievementsComplete) { %>
            Complete
            <% } else { %>
            Incomplete
            <% }; %>
        </p>
        <% }; %>
        <% if (userGameData.notes) { %>
        <p>Notes: <%= userGameData.notes %></p>
        <% }; %>
        <div class="edit-links">
            <a class="edit-game-link" href="/users/<%= user._id %>/games/<%= game._id %>/edit">Edit this game</a>
            <form action="/games/<%= game._id %>?_method=DELETE" method="post">
                <button id="delete" type="submit">Delete this game</button>
            </form>
        </div>
        <% } else { %>
        <a href="/users/<%= user._id %>/games/new?game=<%= game.igdbId %>">Add this game to your collection</a>
        <% }; %>

        <% }; %>
    </div>



</body>

</html>