<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= targetUser.username %>'s Games</title>
</head>

<body>
    <%- include('../../partials/_navbar') %>
    <h1>
        <% if (targetUser.displayName) { %>
        <%= targetUser.displayName %>'s Games (<%= targetUser.username %>)
        <% } else { %>
        <%= targetUser.username %>'s Games
        <% }; %>
    </h1>
    <% if (targetUser._id === user._id) { %>
    <a href="/games/search">Add a new game</a>
    <% }; %>
    <ul>
        <% games.forEach(game => { %>
        <li>
            <a href="/games/<%= game._id %>"><%= game.name %></a>
        </li>
        <% }); %>
    </ul>
</body>

</html>