<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %>'s Profile</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1>
        <% if (displayName) { %>
        <%= displayName %>'s Profile (<%= username %>)
        <% } else { %>
        <%= username %>'s Profile
        <% }; %>
    </h1>
    <a href="/users/<%= userId %>/games">View Game Collection</a>
    <a href="/users/<%= userId %>/wishlist">View Wishlist</a>
</body>

</html>