<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= targetUser.username %>'s Profile</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <div class="user-body">
        <div class="user-header">
            <h1>
                <% if (targetUser.displayName) { %>
                <%= targetUser.displayName %>'s Profile (<%= targetUser.username %>)
                <% } else { %>
                <%= targetUser.username %>'s Profile
                <% }; %>
            </h1>
        </div>
        <a href="/users/<%= targetUser._id %>/games">View Game Collection</a>
    </div>
</body>

</html>